
<section class="col s12 m4 l8 timeline hide-on-med-and-down" style="overflow-y: scroll; max-height: 1000px;">
        {% for grupo in grupos_da_cidade %}
        <div id="profile-page-wall-post" class="card novo-grupo">
              <div class="card-profile-title">
                <div class="row" style="margin:10px">
                  <div class="col s2 m1 l1">
                        <img src="{{ grupo.admin.first.profile.image.url }}" alt="grupo-admin" class="circle responsive-img valign profile-post-uer-image">
                    </div>
                    <div class="col s10">
                        <span class="grey-text text-darken-1 ultra-small">Admin do grupo</span>
                        <p class="grey-text text-darken-4 margin">{{grupo.admin.first.profile.nome}}</p>
                        <span class="grey-text text-darken-1 ultra-small">Grupo criado em {{ grupo.criacao.date|date:"d/M/Y" }}</span>
                    </div>
                    <div class="col s1 right-align">
                        <i class="mdi-navigation-expand-more"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m12 l6">
                        <p>Olá! Gostaria de fazer parte desse grupo?</p>
                    </div>
                </div>
            </div>
            <!--grupo-->
            <!--Pedais Agendados-->
            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="card">
                        <div class="card-image">
                            <img src="{{ grupo.capa.url }}" alt="sample">
                            <img src="{{ grupo.logo.url }}" alt="profile image" class="circle z-depth-2 " style="
                                                width:100px;
                                                position: relative;
                                                top:-10px;
                                                left: 5px;
                                                border-radius: 50%;">
                        <h4 class="card-title grey-text text-darken-4 activator hide-on-med-and-down" style="margin-left: 250px;">{{ grupo.nome }}</h4>

                        </div>
                        <div class="card-content">
                            <div class="row">
                                <div class="col s4 m4 l4 center-align">
                                    <h4 class="card-title grey-text text-darken-4 ">{% if grupo.pedais.realizados.count %} {{ grupo.pedais.realizados.count }} {% else %} 0 {% endif %}</h4>
                                    <p class="medium-small grey-text ">Pedais Realizados</p>
                                </div>
                                <div class="col s4 m4 l4 center-align">
                                    <h4 class="card-title grey-text text-darken-4">
                                        {% if grupo.pedais_ativos.count %} {{ grupo.pedais_ativos.count }} {% else %} 0 {% endif %}
                                    </h4>
                                    <p class="medium-small grey-text">Pedais Agendados</p>
                                </div>
                                <div class="col s4 m4 l4 center-align">
                                    <h4 class="card-title grey-text text-darken-4">{{ grupo.participantes.all.count }}</h4>
                                    <p class="medium-small grey-text">Membros</p>
                                </div>
                            </div>
                            <div style="text-align: center;">
                                <a class="btn btn-success waves-effect waves-light">
                                    <i class="mdi-action-thumb-up"></i>
                                </a>
                                <a class="btn btn-success waves-effect waves-light">
                                    <i class="mdi-action-delete"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <iframe src="iframe-timeline-tela-grande.html" class="col s12 m12 l12" style="height: 460px; border: none; "></iframe> -->
            <!-- <iframe src="iframe-timeline-tela-pequena.html" class="col s12 m12 l12" style="height: 460px; border: none; "></iframe> -->
            <!--fim do lado direito-->
        </div>
        {% empty %}
        <div><h3>Parece que o pessoal de {{ cidade  }} anda meio preguiçoso</h3></div>
        {% endfor %}
        {% if page_obj.has_next %}
        <ul class="pagination center-align">
            {% for page in paginator.page_range %}
            <li class="{% if page_obj.number == page %} active {% else %}waves-effect {% endif %}">
                <a class="page" href="{{page}}">{{page}}</a>
            </li>
            {% endfor %}
        </ul>   
        {% endif %}
</section>


<section class="col s12 m4 l8 hide-on-med-and-up timeline infinite-container" style="overflow-y: scroll; max-height: 1000px">
    {% for grupo in grupos_da_cidade %}
        <div id="profile-page-wall-post " class="card novo-grupo">
                <div class="card-profile-title">
                    <div class="row">
                        <div class="col s2 m1 l1">
                            <img src="{{ grupo.admin.first.profile.image.url }}" alt="" class="circle responsive-img valign profile-post-uer-image">
                        </div>
                        <div class="col s10">
                            <p class="grey-text text-darken-4 margin">{{grupo.admin.first.profile.nome}}</p>
                            <span class="grey-text text-darken-1 ultra-small">Grupo criado em {{ grupo.criacao.date|date:"d/M/Y" }}</span>
                        </div>
                        <div class="col s1 right-align">
                            <i class="mdi-navigation-expand-more"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l6">
                            <p>Olá! Gostaria de fazer parte desse pedal?</p>
                        </div>
                    </div>
                </div>
                <!--grupo-->
                <!--Pedais Agendados-->
                <div class="row">
                    <div class="col s12 m12 l12">
                        <div class="card">
                            <div class="card-image">
                                <img src="{{ grupo.capa.url }}" alt="sample">
                                <img src="{{ grupo.logo.url }}" alt="profile image" class="circle z-depth-2 " style="
                                    width:60px;
                                    position: absolute;
                                    top: 120px;
                                    left: 10px;
                                    border-radius: 50%;
                                    ">
                            </div>
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s12 m12 l12 offset-l2">
                                        <div class="col s12 l12 center-align">
                                            <h4 class="card-title grey-text text-darken-4 activator" style="margin-right: -10px;">{{ grupo.nome }}</h4>
                                        </div>
                                    </div>
                                    <div class="col s4 m4 l4 center-align">
                                        <h4 class="card-title grey-text text-darken-4 ">
                                            {% if grupo.pedais.realizados.count %} {{ grupo.pedais.realizados.count }} {% else %} 0 {% endif %}
                                        </h4>
                                        <p class="medium-small grey-text ">Pedais Realizados</p>
                                    </div>
                                    <div class="col s4 m4 l4 center-align">
                                        <h4 class="card-title grey-text text-darken-4">
                                            {% if grupo.pedais.pedais_ativos.count %} {{ grupo.pedais.pedais_ativos.count }} {% else %} 0 {% endif %}
                                        </h4>
                                        <p class="medium-small grey-text">Pedais Agendados</p>
                                    </div>
                                    <div class="col s4 m4 l4 center-align">
                                        <h4 class="card-title grey-text text-darken-4">
                                            {% if grupo.participantes.count %} {{ grupo.participantes.count }} {% else %} 0 {% endif %}
                                        </h4>
                                        <p class="medium-small grey-text">Membros</p>
                                    </div>
                                </div>
                                <div style="text-align: center;">
                                    <a class="btn btn-success waves-effect waves-light">
                                        <i class="mdi-action-thumb-up"></i>
                                    </a>
                                    <a class="btn btn-success waves-effect waves-light">
                                        <i class="mdi-action-delete"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        {% empty %}
        <div><h3>Parece que o pessoal de {{ cidade  }} anda meio preguiçoso</h3></div>
        {% endfor %}

        {% if page_obj.has_next %}
        <ul class="pagination center-align">
            {% for page in paginator.page_range %}
            <li class="{% if page_obj.number == page %} active {% else %}waves-effect {% endif %}">
                <a class="page" href="{{page}}">{{page}}</a>
            </li>
            {% endfor %}
        </ul>   
        {% endif %}
</section>

<script>


    $(function() {
        $('.page').on('click', function(e){
           e.preventDefault()
           $.ajax({
               type: 'GET',
               url: "{% url 'core:atualiza' %}",
               data: {
                   'cidade':'{{ cidade }}',
                   'primeira': 'False',
                   'page':$(e.target).attr('href')
                },
               success: function(data){
                    //var parser = new DOMParser()
                    //var section = parser.parseFromString(data, 'text/xml')
                    //var novos = section.getElementsByClassName('novo-grupo')
                    //console.log(nv)
                    $("#timeline").empty()
                    $("#timeline").html(data)
               },
            })
        })
    })


    //var infinite = new Waypoint.Infinite({
    //    element: $('.infinite-container')[0],
    //    onBeforePageLoad: function () {
    //        $('.loading').show();
    //    },
    //    onAfterPageLoad: function ($items) {
    //        $('.loading').hide();
    //    }
    //});
</script>