{% extends "core/parent_forms/form-base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}


{% block titulo %}
    Login | BikeUnit
{% endblock titulo %}
    

{% block additional_js %}

{% endblock additional_js %}

{% block form %}
{% csrf_token %}

{% if messages %}
    {% for message in messages %}
        <div id="card-alert" class="card {{ message.tags }}">
            <div class="card-content white-text">
                <p>{{ message }}</p>
            </div>
            <button type="button" class="close white-text" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    {% endfor %}
{% endif %}

 {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <div id="card-alert" class="card red">
        <div class="card-content white-text">
            <p>{{ error }}</p>
        </div>
        <button type="button" class="close white-text" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    {% endfor %}
{% endif %}
    
<div class="row">
    <div class="input-field col s12 center">
        <img src="{% static 'images/login-logo.png' %}" alt="" class="circle responsive-img valign profile-image-login">
        <p class="center login-form-text">Login</p>
    </div>
</div>
<div class="row margin">
    <div class="input-field col s12">
        <i class="mdi-social-person-outline prefix"></i>
        {% render_field form.username id=form.username.auto_id %}
        <label for="{{ form.username.auto_id }}" class="center-align">{{ form.username.label }}</label>
    </div>
</div>
<div class="row margin">
    <div class="input-field col s12">
        <i class="mdi-action-lock-outline prefix"></i>

        {% render_field form.password id=form.password.auto_id %}
        <label for="{{ form.password.auto_id }}">{{form.password.label}}</label>
        
    </div>
<div>
<div class="row">
    <div class="input-field col s12 m12 l12  login-text">
        <input type="checkbox" id="remember-me" />
        <label for="remember-me">Lembrar</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        <input type="submit" class="btn waves-effect waves-light col s12" value="Login">
    </div>
</div>

<div class="row">
    <div class="input-field col s6 m6 l6">
        <p class="margin medium-small">
            <a href="{% url 'contas:registra-conta' %}">Criar Conta!</a>
        </p>
    </div>
    <div class="input-field col s6 m6 l6">
        <p class="margin right-align medium-small">
            <a href="{% url 'contas:reset-senha' %}">Esqueceu a senha?</a>
        </p>
    </div>

</div>
{% endblock form %}