{% extends "core/parent_forms/form-base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block titulo %}
    Crie sua conta | BikeUnit
{% endblock titulo %}




{% block form %}
{% csrf_token %}

{% if messages %}
    {% for message in messages %}
        <div id="card-alert" class="card {{ message.tags }}">
            <div class="card-content white-text">
                <p>{{ message }}</p>
            </div>
            <button type="button" class="close white-text" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    {% endfor %}
{% endif %}

<div class="row">
    <div class="input-field col s12 center">
        <h4>Crie Uma Conta</h4>
        <p class="center">Participe agora da nossa comunidade!</p>
    </div>
</div>
<div class="row margin">
    <div class="input-field col s12">
        <i class="mdi-social-person-outline prefix"></i>
        {% render_field form.username id=form.username.auto_id %}
        <label for="{{form.username.id}}" class="center-align">Usuário</label>
    </div>
    {% for error in form.username.errors %}
      <div class="red-text">{{ error }}</div>
    {% endfor %}
</div>

<div class="row margin">
    <div class="input-field col s12">
        <i class="mdi-communication-email prefix"></i>
        {% render_field form.email id=form.email.auto_id %}
        <label for="{{form.email.id}}" class="center-align">Email</label>
    </div>
    {% for error in form.email.errors %}
        <div class="red-text">{{ error }}</div>
    {% endfor %}
</div>

<div class="row margin">
    <i class="mdi-communication-location-on small prefix" style="padding-left: 10px"></i>
    <div class="col s10 right">
        <div class="select-wrapper">
            <select name="estado" class='browser-default col s4' id="id_estado">
                <option disabled selected>UF</option>
            </select>
            <select name="cidade" class='browser-default col s8' id="id_cidade">
                <option disabled selected>Município</option>
            </select>
        </div>
    </div>
</div>

<div class="row margin">
    <div class="col s6 m6 l6">
        <form action="#">
            <p>
                <input name="sexo" type="radio" id="id_homem" value="1" />
                <label for="id_homem">Homem</label>
            </p>
    </div>
    <div class="col s6 m6 l6">
        <form action="#">
            <p>
                <input name="sexo" type="radio" id="id_mulher" value="2" />
                <label for="id_mulher">Mulher</label>
            </p>
    </div>
</div>

<div class="row margin">
    <div class="input-field col s12">
        <i class="mdi-social-cake prefix"></i>
        <input class="datepicker" name="nascimento" id="id_nascimento" type="text">
        <label for="id_nascimento" class="center-align">Data de Nascimento</label>
    </div>
</div>

<div class="row margin">
    <div class="input-field col s12">
        <i class="mdi-action-lock-outline prefix"></i>
        {% render_field form.password1 id=form.password1.auto_id %}
        <label for="{{form.password1.id}}">Senha</label>
    </div>
    {% for error in form.password1.errors %}
        <div class="red-text">{{ error }}</div>
    {% endfor %}
</div>
<div class="row margin">
    <div class="input-field col s12">
        <i class="mdi-action-lock-outline prefix"></i>
        {% render_field form.password2 id=form.password2.auto_id %}
        <label for="{{form.password2.id}}">Confirmar Senha</label>
    </div>
    {% for error in form.password2.errors %}
        <div class="red-text">{{ error }}</div>
    {% endfor %}
</div>

<div class="row">
    <div class="input-field col s12">
        <input type="submit" class="btn waves-effect waves-light col s12" value="Criar Conta">
    </div>
    <div class="input-field col s12">
        <p class="margin center medium-small sign-up">Já tem uma conta?
            <a href="{% url 'login' %}">Entrar</a>
        </p>
    </div>
</div>
{% endblock form %}
    
{% block additional_js %}
<script>
    function popupaCidade(id){
        
        fetch(`https://servicodados.ibge.gov.br/api/v1/localidades/estados/${id}/municipios`, {method: 'GET'})
        .then(res => res.json())
        .then(cidades => {
            cidades.map(
                cidade => {
                    let opt = document.createElement('option')
                    opt.value = cidade.nome
                    opt.innerHTML = cidade.nome
                    //cidades.setAttribute('disabled', 'false')
                    
                    document.getElementById('id_cidade').appendChild(opt)
                }
            )
        }
        )
    }

    fetch('https://servicodados.ibge.gov.br/api/v1/localidades/estados', {
            method: 'GET'
        })
        .then(res => res.json())
        .then(estados => {
            estados.map( estado => {
                let opt = document.createElement('option')
                opt.value = estado.sigla
                opt.innerHTML = estado.sigla
                opt.id = estado.id
                document.getElementById('id_estado').appendChild(opt)
            }
            )
        })


        function removeOptions(selectbox) {
                var i;
                for(i = selectbox.options.length - 1 ; i > 0 ; i--)
                {
                    selectbox.remove(i);
                }
            }


        let estado = document.getElementById('id_estado')
        estado.onchange = (e) => {
                removeOptions(document.getElementById('id_cidade'))
                let idCidade = estado.options[estado.selectedIndex].id
                popupaCidade(idCidade)
            }
</script>
{% endblock additional_js %}