{% extends "core/parent_forms/base.html" %} {% load static %}

<!-- END HEADER -->


{% block menu_lateral %}

<!-- MENU-->
<aside id="left-sidebar-nav">
    <ul id="slide-out" class="side-nav fixed leftside-navigation">
        <li class="user-details cyan darken-2">
            <div class="row">
                <div class="col col s4 m4 l4">
                    <img src="{% static 'images/avatar.jpg' %}" alt="" class="circle responsive-img valign profile-image">
                </div>
                <div class="col col s8 m8 l8">
                    <ul id="profile-dropdown" class="dropdown-content">
                        <li>
                            <a href="#">
                                <i class="mdi-action-face-unlock"></i> Perfil
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="mdi-action-assignment-ind"></i>Dados
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{% url 'logout' %}">
                                <i class="mdi-hardware-keyboard-tab"></i>Sair
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="mdi-navigation-cancel"></i>Excluir Conta
                            </a>
                        </li>
                    </ul>
                    <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown">John Doe

                        <i class="mdi-navigation-arrow-drop-down right"></i>
                    </a>
                </div>
            </div>
        </li>
        <li class="bold ">
            <a href="index.html" class="waves-effect waves-cyan">
                <i class="mdi-action-home"></i>Home App
            </a>
        </li>
        <li class="bold">
            <a href="#modal3" class="modal-trigger waves-cyan">
                <i class="mdi-maps-local-library"></i> Home Administrador
            </a>
        </li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-cyan">
                        <i class="mdi-maps-directions-bike"></i> Criar grupo de Pedal
                    </a>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a class="  modal-trigger  " href="#modal1">Público</a>
                            </li>
                            <li>
                                <a class="  modal-trigger  " href="#modal2">Privado</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="bold">
                    <a href="" class="waves-effect waves-cyan">
                        <i class="mdi-action-assignment-ind"></i> Alterar Dados
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan">
        <i class="mdi-navigation-menu"></i>
    </a>
</aside>

<!--FIM MENU-->
{% endblock menu_lateral %}


<!-- //////////////////////////////////////////////////////////////////////////// -->

{% block conteudo %}
<div id="modal1" class="modal">
    <div class="modal-content">
        <p>O grupo aparecerá na Home do Aplicativo e todos os usuários poderão enviar solicitãção para participar do grupo.</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="waves-effect waves-red btn-flat modal-action modal-close">Não quero fazer um grupo agora</a>
        <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">OK, quero fazer um Grupo Público</a>
    </div>
</div>
<div id="modal2" class="modal">
    <div class="modal-content">
        <p>O grupo não aparecerá na Home do Aplicativo e os membros deverão ser convidados.</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="waves-effect waves-red btn-flat modal-action modal-close">Não quero fazer um grupo agora</a>
        <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Ok, quero fazer um grupo Privado</a>
    </div>
</div>
<div id="modal3" class="modal">
    <div class="modal-content">
        <p>Você ainda não criou um grupo de pedal pra administrar.</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="waves-effect waves-red btn-flat modal-action modal-close">Ok</a>
    </div>
</div>
<div id="modal4" class="modal">
    <div class="modal-body">

    </div>
</div>
<!-- START MAIN -->
<div id="main">
    <!-- START WRAPPER -->
    <div class="wrapper">
        <!-- MENU-->
        <aside id="left-sidebar-nav">
            <ul id="slide-out" class="side-nav fixed leftside-navigation">
                <li class="user-details cyan darken-2">
                    <div class="row">
                        <div class="col col s4 m4 l4">
                            <img src=" 
                                {% if user.profile.image %}
                                    {{ user.profile.image.url }}
                                {% else %}
                                    {% static 'images/default-user-image.png' %}
                                {% endif %}
                                    
                                " alt="" class="circle responsive-img valign profile-image">
                        </div>
                        <div class="col col s8 m8 l8">
                            <ul id="profile-dropdown" class="dropdown-content">
                                <li>
                                    <a href="#">
                                        <i class="mdi-action-face-unlock"></i> Perfil
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="mdi-action-assignment-ind"></i>Dados
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">
                                        <i class="mdi-hardware-keyboard-tab"></i>Sair
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="mdi-navigation-cancel"></i>Excluir Conta
                                    </a>
                                </li>
                            </ul>
                            <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown">{{ user.profile.nome }}

                                <i class="mdi-navigation-arrow-drop-down right"></i>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li class="bold">
                            <a class="collapsible-header waves-effect waves-cyan">
                                <i class="mdi-maps-directions-bike"></i> Criar grupo de Pedal
                            </a>
                        </li>
                        <li class="bold">
                            <a href="alterar-dados-cadastrais.html" class="waves-effect waves-cyan">
                                <i class="mdi-action-assignment-ind"></i> Alterar Dados Usuário
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan">
                <i class="mdi-navigation-menu"></i>
            </a>
        </aside>
        <!--FIM MENU-->
        <!-- //////////////////////////////////////////////////////////////////////////// -->
        <!-- START CONTENT -->
        <section id="content" style="min-height: 500px">
            <!--breadcrumbs start-->
            <div id="breadcrumbs-wrapper">
                <!-- Search for small screen -->
                <div class="container">
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <h5 class="breadcrumbs-title">Perfil Usuário</h5>
                            <ol class="breadcrumbs">
                                <li>
                                    <a href="{% url 'core:home' %}">Bikeunit</a>
                                </li>
                                <li class="active">Perfil Usuário</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!--breadcrumbs end-->
            <!-- END LEFT SIDEBAR NAV-->
            <div class="row">
                <!-- INÍCIO DA SECTION DE LISTAS -->
                <section id="listas" class="col s12 m6 l4 section">
                    <!--lista-->
                    <ul class="collapsible popout" data-collapsible="accordion" watch>
                        <!--1º item-->
                        <li ng-repeat="single in collapsibleElements">
                            <div class="collapsible-header">
                                <i class="{{single.icon}} mdi-communication-location-on"></i>Pesquise Grupos por Cidade
                            </div>
                            <div class="collapsible-body">
                                <div class="row margin">
                                    <div class="col s10 right">
                                        <div class="select-wrapper">
                                            <select name="estado" class='browser-default col s4' id="id_estado">
                                                <option disabled selected>UF</option>
                                            </select>
                                            <select name="cidade" class='browser-default col s8' id="id_cidade">
                                                <option disabled selected>Município</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        
                        <!--Lista de grupos que participo-->
                        {% if meus_grupos %}
                        {% include 'core/includes/lista_grupos_home.html' %}
                        {% endif %}
                        <!--Fim lista de grupos que participo-->

                        <!-- Lista de pedais agendados-->
                        {% if pedais_agendados %}
                        <li ng-repeat="single in collapsibleElements" id="pedais-agendados-li">
                            <div class="collapsible-header">
                                <i class="{{single.icon}} mdi-action-done"></i>Pedais que Confirmei Presença
                            </div>
                            <div class="collapsible-body row lista-com-scroll" id="meus-pedais-agendados">
                                {% include "core/includes/lista_pedais_agendados_home.html" %}
                            </div>
                        </li>
                        {% endif %}
                        <!-- Fim da lista de pedais agendados-->
                        
                        <!-- Lista de solicitações de grupo e pedal -->
                        {% if solicitacoes_grupo or solicitacoes_pedal %}
                        {% include 'core/includes/lista_solicitacoes_home.html' %}
                        {% endif %}
                        <!-- Fim da lista de solicitações de grupo e pedal -->

                    </ul>
                </section>
                <div id="timeline"></div>
            </div>
        </section>
    </div>
</div>
<!-- START FOOTER -->
<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            <span class="right"> Design and Developed by BikeUnit

                <a class="grey-text text-lighten-4" href="http://bikeunit.com.br/">BikeUnit</a>
            </span>
        </div>
    </div>
</footer>
<!-- END FOOTER -->
{% endblock conteudo %} 

{% block scripts_adicionais %}

<script>

    $(function () {

        $.ajax({
            type: 'GET',
            url: '{% url "core:atualiza" %}',
            data: {
                'cidade': '{{ user.profile.cidade }}',
                'primeira': 'True',
                'page': '{{ page_obj.next_page_number }}'
            },
            success: function (data) {
                $("#timeline").html(data)
            },
        })
    })


    $(function () {

        $('#id_cidade').on('change', function (e) {

            $.ajax({
                type: 'GET',
                url: '{% url "core:atualiza" %}',
                data: {
                    'cidade': e.target.value,
                    'page': '{{ page_obj.next_page_number }}'
                },
                success: function (data) {
                    $("#timeline").html(data)
                },
            })
        })
    })

</script>

<script src="{% static 'js/custom-ajax-scripts/sair-pedal.js' %}"></script>

{% endblock scripts_adicionais %}