{% load static %}

<!DOCTYPE html>
<html lang="en">

<!--================================================================================
	Item Name: Materialize - Material Design Admin Template
	Version: 3.1
	Author: GeeksLabs
	Author URL: http://www.themeforest.net/user/geekslabs
================================================================================ -->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">
    <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
    <title>Login Page | Materialize - Material Design Admin Template</title>

    <!-- Favicons-->
    <link rel="icon" href="{% static 'images/favicon/favicon-32x32.png' %}" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="{% static 'images/favicon/apple-touch-icon-152x152.png' %}">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="{% static 'images/favicon/mstile-144x144.png' %}">
    <!-- For Windows Phone -->


    <!-- CORE CSS-->

    <link href="{% static 'css/materialize.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="{% static 'css/style.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- Custome CSS-->
    <link href="{% static 'css/custom/custom.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="{% static 'css/layouts/page-center.css' %}" type="text/css" rel="stylesheet" media="screen,projection">

    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="{% static 'js/plugins/prism/prism.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="{% static 'js/plugins/perfect-scrollbar/perfect-scrollbar.css' %}" type="text/css" rel="stylesheet" media="screen,projection">

</head>

<body class="cyan">
    
    {% block additional_js %}
        
    {% endblock additional_js %}
        

    <div id="login-page" class="row">
        <div class="col s12 z-depth-4 card-panel">

            
            {% block other_contents %}
                
            {% endblock other_contents %}
                
            <form class="login-form" method="post">
                
                {% block form %}
                  
                {% endblock form %}
            </form>
        </div>
    </div>



    <!-- ================================================
    Scripts
    ================================================ -->

    <!-- jQuery Library -->
    <script type="text/javascript" src="{% static 'js/plugins/jquery-1.11.2.min.js' %}"></script>
    <!--materialize js-->
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <!--prism-->
    <script type="text/javascript" src="{% static 'js/plugins/prism/prism.js' %}"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="{% static 'js/plugins/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>

    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="{% static 'js/plugins.min.js' %}"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="{% static 'js/custom-script.js' %}"></script>

</body>

</html>