{% extends "core/parent_forms/form-base.html" %} 
{% load static %} 
{% load widget_tweaks %} 
{% block form %}

<!-- Form rendering code for template -->
<!-- code for displaying success or error message in template -->


<div id="login-page" class="row">
    <div class="col s12 z-depth-4 card-panel">
        <form class="login-form" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12 center">
                    <img src="{% static 'images/login-logo.png' %}" alt="" class="circle responsive-img valign profile-image-login">
                    <p class="center login-form-text"> Alteração de Senha</p>
                </div>
            </div>
            <div class="row margin">
                {% for field in form %} {% if field %}
                <div class="input-field col s12">
                    <i class="mdi-social-person-outline prefix"></i>
                    {% render_field field id=field.auto_id %}
                    <label for="{{field.auto_id}}">{{field.label}}</label>
                    {% for error in fielderrors %}
                    <span class="text-red">{{error}}</span>
                    {% endfor %}
                </div>
                {% endif %} {% endfor %}



            </div>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="red-text" {% endif %}>{{ message }}</li>
                    {% endfor %}
            </ul>
            {% endif %}

            <div class="row">
                <div class="input-field col s12">
                    <input type="submit" class="btn waves-effect waves-light col s12" value="Enviar"></input>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock form %}